div.ols_carte
{
	margin:0 0 15px 0;
	padding:0;
	border:none;
}

div.ols_carte *, div.ols_carte img
{
	border:none;
}

div.ols_carte a, div.ols_carte a:link, div.ols_carte a:active, div.ols_carte a:visited
{
	text-decoration:none;
}

div.ols_carte .olControlAttribution
{
	position:absolute;
	right:6px;
	bottom:6px;
}

div.ols_carte .olControlAttribution
{
	color:grey;
	font-style:normal;
	font-size:11px;
	font-family:"Trebuchet MS";
	text-decoration:none;
}

div.ols_carte .olControlAttribution a, div.ols_carte .olControlAttribution a:link, div.ols_carte .olControlAttribution a:active, div.ols_carte .olControlAttribution a:visited
{
	color:grey;
	font-style:normal;
	font-size:11px;
	font-family:"Trebuchet MS";
	text-decoration:none;
}

div.ols_carte .olControlAttribution a:hover
{
	text-decoration:underline;
}